Checks: "clang-analyzer-*,
         cppcoreguidelines-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-union-access,
         -misc-non-private-member-variables-in-classes,
         -misc-no-recursion,
         -modernize-avoid-c-arrays,
         -modernize-use-trailing-return-type,
         -readability-function-cognitive-complexity,
         -readability-magic-numbers,
         -readability-named-parameter"
WarningsAsErrors: "*"
HeaderFilterRegex: "src/"
