Oscar Gustafsson <oscar.gustafsson@liu.se> <oscar.gustafsson@gmail.com>
Frans Skarman <frans.skarman@liu.se> <frans.skarman@protonmail.com>
Mikael Henriksson <mikael.henriksson@liu.se> <mike.zx@hotmail.com>
Andreas Bolin <andbo467@student.liu.se> <2535580+andbo467@users.noreply.github.com>
Simon Bjurek <simon.bjurek@liu.se> <simbj03@liu.se> <simbj106@student.liu.se>
